fastapi
uvicorn
pydantic
python-dotenv
supabase
pydantic[email]
streamlit
chromadb
sentence-transformers
openai
plotly
qdrant-client
chardet
requests
pillow
python-multipart
imaplib2
email-validator
Pillow
python-dotenv
supabase
requests
pymupdf
python-docx
docx2txt
PyMuPDF
python-multipart
streamlit
requests
pandas
supabase
plotly
python-dotenv
Pillow
PyPDF2
python-docx
fpdf
Pillow
fpdf2
bcrypt
python-jose[cryptography]
passlib[bcrypt]
fastapi-cors==0.0.6